* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #080808;
  font-family: Arial, Helvetica, sans-serif;
}

ion-app {
  background: #080808;
}

ion-content {
  --background: #080808;
}

ion-header {
  box-shadow: none;
}

ion-toolbar {
  --background: #101010;
  --color: #ffffff;
  --border-color: #222222;
  --min-height: 70px;
}

ion-title {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

/* CONTENIDO */

ion-content::part(scroll) {
  padding: 40px !important;
  max-width: 900px;
  margin: 0 auto;
}

/* FORMULARIO */

ion-item {
  --background: #181818;
  --color: #ffffff;
  --border-color: #303030;
  --highlight-color-focused: #1db954;

  border-radius: 12px;
  margin-bottom: 15px;
}

ion-input {
  --color: #ffffff;
  --placeholder-color: #a7a7a7;
}

/* BOTÓN AGREGAR */

ion-button {
  --background: #1db954;
  --background-hover: #1ed760;
  --color: #000000;
  --border-radius: 30px;

  height: 48px;

  font-weight: 700;
  text-transform: none;
  letter-spacing: 0;

  margin-bottom: 25px;
}

/* LISTA */

ion-list {
  background: transparent !important;
  padding: 0 !important;
}

/* TAREAS */

ion-list ion-item {
  --background: #181818;
  --color: #ffffff;
  --border-color: transparent;

  margin-bottom: 12px;

  border-radius: 14px;

  padding: 6px;
}

ion-label h2 {
  color: #ffffff !important;
  font-size: 17px !important;
  font-weight: 600 !important;
}

/* CHECKBOX */

ion-checkbox {
  --size: 23px;

  --checkbox-background: transparent;
  --checkbox-background-checked: #1db954;

  --border-color: #a7a7a7;
  --border-color-checked: #1db954;

  --checkmark-color: #000000;
}

/* BOTÓN ELIMINAR */

ion-list ion-button {
  --background: transparent;
  --color: #ff5c5c;
  --border-color: #ff5c5c;
  --border-width: 1px;
  --border-style: solid;

  height: 36px;

  margin: 0;

  font-size: 14px;
}

/* RESPONSIVE */

@media (max-width: 600px) {

  ion-content::part(scroll) {
    padding: 20px !important;
  }

  ion-title {
    font-size: 20px;
  }

  ion-label h2 {
    font-size: 15px !important;
  }
}